[submodule "interfaces/gs_interfaces"]
	path = interfaces/gs_interfaces
	url = https://github.com/Simba-Avionic/gs_interfaces
[submodule "gs_interfaces"]
	path = gs_interfaces
	url = https://github.com/Simba-Avionic/gs_interfaces.git
[submodule "mavlink_defs/pymavlink"]
	path = mavlink_defs/pymavlink
	url = https://github.com/ArduPilot/pymavlink.git