[Unit]
Description=OLED display status script

[Service]
Type=simple
User=simba
WorkingDirectory=/home/simba/gs_web_app
ExecStart=/home/simba/gs_web_app/run.sh run_oled_display
Restart=on-failure

[Install]
WantedBy=multi-user.target