:root {
  font-family: Inter, system-ui, Helvetica, sans-serif;

  line-height: 1.5;
  font-weight: 400;
  font-size: 0.8em;

  color-scheme: light dark;
  color: #ccccdc;
  background-color: #111217;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.2em;
  font-weight: 400;
  color: #ccccdc;
  text-decoration: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}