:root {
  font-family: Inter, system-ui, Helvetica, sans-serif;

  line-height: 1.5;
  font-weight: 400;
  font-size: 0.8em;

  color-scheme: light dark;
  color: #ccccdc;
  background-color: #111217;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navbar-height: 60px;

  colors {
    --green-1: #388729;
    --green-2: #5aa54b;
    --green-3: #99d88d;
    --green-4: #caf2c2;
    --green-5: #77be69;

    --yellow-1: #e0b400;
    --yellow-2: #f3cc0f;
    --yellow-3: #ffed52;
    --yellow-4: #fff899;
    --yellow-5: #fade2b;

    --red-1: #f24865;
    --red-2: #c41934;
    --red-3: #de304d;
    --red-4: #ff7289;
    --red-5: #ffa6b4;

    --blue-1: #5694f2;
    --blue-2: #1857b8;
    --blue-3: #3373d9;
    --blue-4: #8ab7ff;
    --blue-5: #c0d8ff;

    --orange-1: #ff9830;
    --orange-2: #fa6400;
    --orange-3: #ff7809;
    --orange-4: #feb356;
    --orange-5: #fecb7c;

    --purple-1: #b876d9;
    --purple-2: #8936b2;
    --purple-3: #a352cb;
    --purple-4: #cb95e5;
    --purple-5: #deb6f2;
  }
}

a {
  font-size: 1.2em;
  font-weight: 400;
  color: #ccccdc;
  text-decoration: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  outline: none;
}

button {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  color: #ccccdc;
  border: none;
  cursor: pointer;
}



.status-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 2px;
}

.green-status {
  background: linear-gradient(90deg, #99d88d, #5aa54b, #77be69);
  background-size: 100% 100%;
  animation: gradientAnimation 3s ease infinite;
}

.orange-status {
  background: linear-gradient(45deg, #feb356, #fa6400);
  background-size: 100% 100%;
  animation: gradientAnimation 3s ease infinite;
}

.red-status {
  background: linear-gradient(45deg, #de304d, #c41934);
  background-size: 100% 100%;
  animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}